.main_content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  margin: 20px;
  font-family: Consolas;
}

#pc_content {
  display: block;
}
#mobile_content {
  display: none;
}

.main_content_div_text {
  margin-bottom: 16px;
  font-family: Consolas, "Courier New", monospace;
  font-size: 24px;
  font-weight: bold;
  padding: 2px;
}

@media (min-width: 1024px) {
  .parentContent {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .main_content > div {
    flex: 0 0 calc(25% - 16px);
    height: 350px;
  }
}

/* give code for media for mobile screen  */

@media (max-width: 599px) {
  .parentContent {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  .headerStyle {
    /* height: 100px; */
    padding: 3px;
    display: flex;
    position: static;
    gap: 20px;
    justify-content: end;
  }

  .uppermarquee {
    width: auto;
    height: 50px;
    display: flex;
    gap: 15px;
    /* font-weight:lighter !important ; */
    text-align: center;
    /* margin-bottom : 20px ; */
  }

  /* .list {
    display: flex;
    flex-direction: row;
    flex: 0 0 calc (10% - 16px);
    height: 20px; 
    width: 200px;
  } */

  .marqueeParent {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
  }

  .main_content > div {
    flex: 0 0 calc(50% - 16px); /* Two cards per row */
    width: 150px;
    height: 350px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 559px) {
  #pc_content {
    display: none;
  }
  #mobile_content {
    display: block;
  }
}
