/* General Styling */
body {
  font-family: Consolas, "Courier New", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height:100vh; */
}

.parentContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.main_content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 20px;
  font-family: Consolas;
}

.main_content_div_text {
  margin-bottom: 16px;
  font-family: Consolas, "Courier New", monospace;
  font-size: 24px;
  font-weight: bold;
  padding: 2px;
}

/* Hide PC content for mobile screens */
#pc_content {
  display: block;
}

#mobile_content {
  display: none;
}

/* Media Queries for Mobile Screens */
@media (max-width: 599px) {
  .dashBoard {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-item: center;
    text-align: center;
  }
  button {
    border: none;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  button:hover {
    background: black;
    color: white;
    border-radius: 3px;
  }

  .Buy {
    display: flex;
    flex-direction: row;
  }
  .desc {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    /* font-size: 24px; */
    color: rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 0.2px rgba(42, 40, 40, 0.5);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
  }
  .parentContent {
    display: flex;
    flex-direction: column;
  }

  .headerStyle {
    padding: 3px;
    display: flex;
    position: static;
    gap: 20px;
    justify-content: end;
  }

  .btnStyle {
    width: 70px;
    height: 50px;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    padding: 5px;
    border: none;
    color: black;
    /* margin-left: 130px; */
    /* z-index: 100; */
  }

  .uppermarquee {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 15px;
    text-align: center;
  }

  .marqueeParent {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
  }

  /* Cards Layout for Mobile */
  .main_content > div {
    flex: 0 0 calc(50% - 16px); /* Two cards per row */
    width: 150px;
    height: 350px;
    margin-bottom: 50px;

    /* margin-bottom: 20px; */
  }

  .cardSelect {
    height: 400px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-item: center;
    text-align: center;

    flex-direction: column;
  }
  .Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding: 3px;
  }
  .wishBoxContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
  }
  .wishBox {
    width: 30px;
    z-index: 10;
    height: 30px;
    /* margin-left:100px ; */
  }
  .footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    padding-bottom: 5px;
    font-weight: lighter;

    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  .footer p {
    margin: 10px;
  }
  .alert {
    position: relative;
  }
}

/* Show mobile content and hide PC content */
@media screen and (max-width: 559px) {
  #pc_content {
    display: none;
  }

  #mobile_content {
    display: block;
  }
}

/* Media Queries for Larger Screens (e.g., Tablets and Above) */
@media (min-width: 1024px) {
  .parentContent {
    display: flex;
    flex-direction: column !important;
  }
  .dashBoard {
    display: flex;
    justify-content: center;
    align-item: center;
    text-align: center;
  }

  .Buy {
    display: flex;
    flex-direction: row;
  }
  .desc {
    display: flex;
    flex-direction: column;
  }

  .headerStyle {
    padding: 3px;
    display: flex;
    position: static;
    gap: 20px;
    justify-content: end;
  }

  .btnStyle {
    width: 70px;
    height: 50px;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    padding: 5px;
    border: none;
    color: black;
    /* margin-left: 130px; */
    /* z-index: 100; */
  }

  .uppermarquee {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 15px;
    text-align: center;
  }

  .marqueeParent {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
  }
  .parentContent {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .main_content > div {
    flex: 0 0 calc(25% - 16px);
    height: 350px;
  }
  .wishBoxContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
  }
  .wishBox {
    width: 30px;
    z-index: 10;
    height: 30px;
    /* margin-left:100px ; */
  }

  .cardSelect {
    height: 400px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-item: center;
    text-align: center;

    flex-direction: column;
  }
  .Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
