.main_content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  margin: 20px;
  font-family: Legibility;
}

.main_content > div {
  flex: 0 0 calc(33% - 16px);
  margin-bottom: 16px;
    font-family: Legibility;

}

@media (min-width: 1024px) {
  .main_content > div {
    flex: 0 0 calc(33% - 16px);
      font-family: Legibility;

  }
}

/* give code for media for mobile screen  */

@media (max-width: 599px) {
  .main_content > div {
    flex: 0 0 calc(50% - 16px); /* Two cards per row */
    width: 150px;
      font-family: Legibility;

  }
}
