.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.terminal {
  position: relative;
  width: fit-content;
}

.terminal .prompt {
  position: absolute;
  top: 10px;
  left: 10px;
  color: gray;
  font-weight: bold;
}

.terminal textarea {
  padding-left: 25px; /* Adjust this to make space for the prompt */
  font-family: monospace;
  width: 100%;
  resize: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
